[submodule "DSS.ILDA"]
	path = DSS.ILDA
	url = https://github.com/wwwMADwww/DSS.ILDA
[submodule "ManuPathLib"]
	path = ManuPathLib
	url = https://github.com/wwwMADwww/ManuPathLib
[submodule "FTD2XX_DotNetWrapper"]
	path = FTD2XX_DotNetWrapper
	url = https://github.com/wwwMADwww/FTD2XX_DotNetWrapper.git
